<h3>Search results for <strong><%= params[:q] %></strong></h3>
<%= console %>
<div class="well main">
  <% if @properties.blank? %>
    <span class="text-danger">No properties found! Try different search terms.</span>
  <% else %>
    <span class="text-info"><strong><%= @results_found %></strong> Total properties found</span>
    <div>
        <div>city: <%= params[:city] %></div>
        <div>type: <%= params[:property_type] %></div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>City</th>
          <th>Address</th>
          <th>Property Type</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% @properties.each do |p| %>
          <tr>
            <td>
              <%= link_to(p.title, agency_property_path(p.agency.id, p.id)) %>
            </td>
            <td>
              <%= p.city %>
            </td>
            <td>
              <%= p.address.address %>
            </td>
            <td>
              <%= p.property_type %>
            </td>
            <td>
              <%= p.price %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
