<h3 class="text-uppercase"><%= @property.address.address %></h3>
<dl class="dl-horizontal well">
  <dt>Title:</dt><dd><%= @property.title %></dd>
  <dt>Price:</dt><dd><%= @property.price %></dd>
  <dt>Property Type:</dt><dd><%= @property.property_type %></dd>
  <dt>City:</dt><dd><%= @property.city %></dd>
  <dt>Description:</dt><dd><%= @property.description %></dd>
</dl>
